.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  padding: 10px;
  width: 200px;
}
.card > img {
  height: 200px;
  width: 200px;
}
